####################
# Common
####################
TZ=
DOCKER_REGISTRY=ghcr.io/dfederm/homelab

# Where to store persistent application data
DOCKER_APPDATA_ROOT=

# Network interface of host machine
NETWORK_INTERFACE=

# IP address of the router / gateway
NETWORK_ROUTER_IP=

NETWORK_SUBNET=

####################
# Adguard Home
####################
ADGUARDHOME_IP=

####################
# Reverse Proxy
####################
REVERSE_PROXY_HTTP_PORT=
REVERSE_PROXY_HTTPS_PORT=
REVERSE_PROXY_CONFIG=

####################
# ZWAVE
####################

ZWAVE_SESSION_SECRET=

# Do not use /dev/ttyUSBX serial devices, as those mappings can change over time.
# Instead, use the /dev/serial/by-id/X serial device for your Z-Wave stick.
ZWAVE_DEVICE=

# Port for web interface
ZWAVE_WEB_PORT=

# Port for Z-Wave JS websocket server
ZWAVE_WS_PORT=
